/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
.track-name {
  padding-right: 20px; /* Adjust the padding value as needed */
}
.artist-name {
  padding-left: 20px; /* Adjust the padding value as needed */
}
h1 {
  font-family: 'Kaushan Script', cursive;
  font-weight: bold
}

h3 {
  font-family: 'Exo', sans-serif;
}

h4 {
  font-family: 'Exo', sans-serif;
}

p {
  font-family: 'Exo', sans-serif;
}

.form-group label {
  font-family: 'Exo', sans-serif;
}

.form-group select {
  font-family: 'Exo', sans-serif;
}

.form-group button[type="submit"] {
  font-family: 'Exo', sans-serif;
}